[run]
source = feelmri
branch = True
parallel = True
concurrency = multiprocessing,thread
omit =
    tests/*
    examples/*
    */__init__.py

[report]
show_missing = True
skip_empty = True
exclude_lines =
    pragma: no cover
    pragma: no cover \(optional dep\)
    if __name__ == "__main__":